mixin sweetpotato(info)
  h4 
      a(href=`/video/${info.id}`)=info.name
      ul
        li #{info.score}/5
        li #{info.comment}Comments.
        li #{info.postAt} minuts Ago.
        li #{info.views} Views.