extends base.pug 

block contents
  h1 #{nowvideo.title} | Yclone - Watch Video

  h3 설명 : #{nowvideo.description}

  small=nowvideo.createdAt
  div
    small=nowvideo.hashtags

  h2 
    a(href=`${nowvideo.id}/edit`) Edit video &rarr;

  h5 
    a(href="/") GO home &rarr;
    br
    a(href=`${nowvideo.id}/delete`) Delete Video &rarr;
