extends base.pug 

block contents
  div#videoContainer(data-id=nowvideo._id)
    video(src="/"+nowvideo.fileUrl) 
    div#videoController 
      span.videobtn.playbtn
        i#playicon.fas.fa-play
      div.timefont
        span#currentTime 00:00
        span  / 
        span#totalTime 00:00
      div.timeline 
        input(type="range" min="0" value=0.0 step="1")#timeline
      span.videobtn
        i#muteicon.fa-solid.fa-volume-high
      input(type="range" min="0" value=0.5 max="1" step="0.1")#volume.volbox
      div 
        span.videobtn
          i#fullscreen.fa-solid.fa-expand 
  
  h1=nowvideo.title
  div 
    small Upload Time : #{nowvideo.createdAt}
    div.userbox
      div.uploadedbox
        img(src=`/${nowvideo.owner.avatarUrl}` width="50",height="50" style="border-radius:50%;")  
        div.uploadedbox__text 
          span.linkspan
            a(href=`/user/${nowvideo.owner._id}`) #{nowvideo.owner.name}
          span.viewspan 조회수 #{nowvideo.meta.views}
      if String(nowvideo.owner._id) === String(loggedInuser._id) 
        div.editDeletebox 
          span
            a(href=`${nowvideo.id}/edit`) Edit video
          span  
            a(href=`${nowvideo.id}/delete`) Delete Video  
    div.discriptionbox
      h3 비디오 설명 : #{nowvideo.description}
      small Hashtags : #{nowvideo.hashtags}
    if loggedIn
      div.video__comments
        form.video__comment-form#commentForm
          textarea(cols="30", rows="10" placeholder="Write a nice comment...") 
          button Add Comment
    else
      span 로그인을 하셔야 댓글작성이 가능합니다. 
      block scripts 
  script(src="/static/js/videoplayer.js") 
  script(src="/static/js/commentSection.js")